<div class="container" *ngIf="movie">
  <h2>{{movie?.title | uppercase}} <span class="year">({{movie?.yearReleased}})</span></h2> 
    
    <app-add-movie [movie]="movie" [buttonText]="'Save Details'" (persist)="saveMovie($event)"></app-add-movie>
    <div>
      <h3>Users who have watched this movie:</h3>
      <div class="col-md-6">
        <ul class="list-group">
          <li *ngFor="let user of movie.usersWatched" class="list-group-item align-middle">
            <span>{{user.name}}</span> <button (click)="removeUser(user.id)" class="btn btn-outline-danger float-right" ngbTooltip="Remove User" placement="top">X</button>
          </li>
        </ul>
      </div>
      <app-searchable-dropdown *ngIf="filteredUsers" [options]="filteredUsers" (selected)="updateUsersWatched($event)"></app-searchable-dropdown>
    </div>
    
</div>