{{movie?.title | uppercase}}
<div *ngIf="movie">
  <div class="title">
    Title: <input type='text' [(ngModel)]="movie.title">
  </div>
  <div class="yearReleased">
    Year Released: <input type='text' [(ngModel)]="movie.yearReleased">
  </div>
  <div class="length">
    Length: <input type='text' [(ngModel)]="movie.length">
  </div>
  Users who have watched this movie:
  <ul>
    <li *ngFor="let user of movie.usersWatched">
      {{user.name}} <button (click)="removeUser(user.id)">X</button>
    </li>
  </ul>
  <app-searchable-dropdown *ngIf="filteredUsers" [options]="filteredUsers" (selected)="updateUsersWatched($event)"></app-searchable-dropdown>
  
  <button (click)="saveMovie()">Save</button>
</div>
