<div *ngFor="let movie of movies" class="row movie-row">
    <div class="col-md-10 h2">
        {{movie.title}}
        <span class="year">
            ({{movie.yearReleased}})
        </span>
    </div>
    <div class="col-md-2">
        <fa-icon [icon]=faTrashAlt (click)="deleteMovie(movie.id)" size="lg" class="delete-movie"></fa-icon>
        <a routerLink="/edit/{{movie.id}}">
            <fa-icon [icon]=faEdit size="lg"></fa-icon>
        </a>
        <img src='assets/91.gif' [hidden]="!thinking">
    </div>
    Running time : {{movie.length}}
</div>

<div>
    Add new movie
    <label>Title: <input type='text' [(ngModel)]="newTitle"></label>
    <label>Length: <input type='text' [(ngModel)]="newLength" placeholder="00:00:00"></label>
    <label>Year Released: <input type='text' [(ngModel)]="newYearReleased"></label>
    <button (click)="addMovie()">+</button>
</div>