<ul>
    <li *ngFor="let movie of movies">
        {{movie.title}}
        {{movie.yearReleased}}
        {{movie.length}}

    </li>
    <button (click)="deleteMovie(movie.id)">Delete</button>
    <img src='assets/91.gif' [hidden]="!thinking">
</ul>

<div>
    Add new movie
    <label>Title: <input type='text' [(ngModel)]="newTitle"></label>
    <label>Length: <input type='text' [(ngModel)]="newLength" placeholder="00:00:00"></label>
    <label>Year Released: <input type='text' [(ngModel)]="newYearReleased"></label>
    <button (click)="addMovie()">+</button>
</div>