<div class="">
    <form [formGroup]="movieForm" *ngIf="movie" (ngSubmit)="addMovie()">
        <div class="col-md-6">
            <div class="title form-group">
                <label>Title <input type='text' id="title" class="form-control" formControlName="title" required></label>
                <div *ngIf="formErrors.title" class="alert alert-danger">
                    {{ formErrors.title }}
                </div>
            </div>
            <div class="yearReleased form-group">
                <label>Year Released <input type='text' id="yearReleased" formControlName="yearReleased" class="form-control"></label>
                <div *ngIf="formErrors.yearReleased" class="alert alert-danger">
                    {{ formErrors.yearReleased }}
                </div>
            </div>
            <div class="length form-group">
                <label>Length <input type='text' formControlName="length" class="form-control"></label>
                <div *ngIf="formErrors.length" class="alert alert-danger">
                    {{ formErrors.length }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">{{buttonText}}</button>
        </div>
    </form>
</div>